.gradient-custom {
    /* fallback for old browsers */
    /* background: #6a11cb; */

    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgb(203, 91, 17), rgba(37, 117, 252, 1)); */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-image: radial-gradient(circle, #175ca6, #0078ba, #0092c5, #00acca, #18c4cb); */
    background-image: url('https://images.unsplash.com/photo-1582980752625-10783b273e2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}


.form-inline {
    display: flex;

    justify-content: center
}

.form-inline div {

    margin-top: 2%;

}

.form-inline button {

    margin-top: 2%;

}

  .content-module {
    margin-bottom: 16px;
    justify-content: center
  }
  .current-weather-details{
   display: flex;
   justify-content: space-between;
   margin-top: 5px;
  
  }
  .current-weather-details :right{
      position: relative;
  }
  .container{
    margin-top: 50px;
    
  }
  .submitbutton{
      margin-left: 50px;
  }