.gradient-custom-3 {
    /* fallback for old browsers */
    /* background: #84fab0; */
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5)); */
    /* background-image: radial-gradient(circle, #175ca6, #0078ba, #0092c5, #00acca, #18c4cb); */
    background-image: url('https://images.unsplash.com/photo-1582980752625-10783b273e2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5)) */
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    /* background: #84fab0; */
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1)); */
    /* background-image: radial-gradient(circle, #175ca6, #0078ba, #0092c5, #00acca, #18c4cb); */

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1)) */
    }

    button{
        background-color: #00acca;
        
    }

    input.ng-invalid{

        border: 2px solid red;

    }