<!--Dashboard Section-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isLoggedIn">
    <a class="navbar-brand" routerLink="/home">PollutionCheck App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" >DASHBOARD </a>
        </li>
     
    
        <li class="nav-item">
          <a class="nav-link " routerLink="/watch">Watch List</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       <a routerLink=""> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
       </a></form>
    </div>
  </nav>
  
  <div>
      
  </div>
 
  <!DOCTYPE html>
<html>
<head>
<title>PollutionCheckApp</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url('images/pollution.jpg');
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
#home{
  background-image: url('./images/pollution.jpg');
}
</style>
</head>
<body>
  <!--Navigation section in dashboard -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="" class="w3-bar-item w3-button w3-wide">POLLUTION CHECK APP</a>

    <div class="w3-right w3-hide-small">
      <a  class="w3-bar-item w3-button" routerLink="/profile"><i class="fa fa-user"></i>&nbsp; PROFILE</a>
      <a  class="w3-bar-item w3-button" routerLink="/watch"><i class="fa fa-heart"></i>&nbsp; WISH LIST</a>
      <a  class="w3-bar-item w3-button" (click)="logout()" routerLink="/"><i class="fa fa-sign-out"></i>&nbsp; LOGOUT</a>

    </div>

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
</body>

