<!DOCTYPE html>
<html>
<!--Frontend part of profile-->
<head>
  <title>PollutionCheckApp</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", sans-serif
    }

    body,
    html {
      height: 100%;
      line-height: 1.8;
    }

    .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url('images/pollution.jpg');
      min-height: 100%;
    }

    .w3-bar .w3-button {
      padding: 16px;
    }

    #home {
      background-image: url('./images/pollution.jpg');
    }
  </style>
</head>

<body>
<!--Navigation part-->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="" class="w3-bar-item w3-button w3-wide">POLLUTION CHECK APP</a>

      <div class="w3-right w3-hide-small">
        <a class="w3-bar-item w3-button" routerLink="/dashboard"><i class="fa fa-dashboard"></i>&nbsp; DASHBOARD</a>
        <a class="w3-bar-item w3-button" routerLink="/watch"><i class="fa fa-heart"></i>&nbsp; WISH LIST</a>
        <a  class="w3-bar-item w3-button" (click)="logout()" routerLink="/"><i class="fa fa-sign-out"></i>&nbsp; LOGOUT</a>

      </div>

      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
        onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <!--Displaying the profile details-->
  <div class="parent">
    <p class="pageTitle">PROFILE</p>
    <div class="userImage">
      <p class="nameTitle">
        Name
      </p>
      <p class="nameValue">
        {{userDetails.firstName}} &nbsp; {{userDetails.lastName}}
      </p>
      <p class="nameTitle">
        userName
      </p>
      <p class="nameValue">
        {{userDetails.username}}
      </p>
      <p class="nameTitle">
        Email
      </p>
      <p class="nameValue">
        {{userDetails.email}}
      </p>
      <p class="nameTitle">
        Phone Number
      </p>
      <p class="nameValue">
        {{userDetails.phnNo}}
      </p>
      <p class="nameTitle">
        Address
      </p>
      <p class="nameValue">
        {{userDetails.city}},&nbsp; {{userDetails.state}} &nbsp; {{userDetails.country}}
      </p>
    </div>
    <button class="btn btn-outline-light btn-lg px-5 mt-5" type="submit" style="margin-left:40%" routerLink="/editProfile">Edit Profile</button>

  </div>

</body>